$canvas-left-offset: 200px;

#canvas {
  background-color: lightskyblue;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.q {
  color: #009000;
}

.r {
  color: #000090;
}

.s {
  color: #900000;
}

.info-panel {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: flex-start;

  > div {
    width: 200px;
    margin-top: .5em;
    margin-left: .5em;
    padding: .2em;
    background-color: #eeeeee;
  }

  .settings {
    display: flex;
    justify-content: space-between;
  }

  .selected-tile {
    display: flex;
    justify-content: space-between;
  }

  .q, .r, .s {
    font-weight: 600;
  }
}

.tile-info {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;

  .i {
    position: absolute;
    left: calc(50% - .5em);
    bottom: calc(50% - .5em);
    font-weight: 600;
  }

  .q {
    position: absolute;
    right: calc(50% - .5em);
    top: 0;
  }

  .r {
    position: absolute;
    right: 15%;
    bottom: 20%;
  }

  .s {
    position: absolute;
    left: 15%;
    bottom: 20%;
  }
}

.tile-hex-flat {
  box-sizing: border-box;
  position: absolute;
  clip-path: polygon(25% 1%, 75% 1%, 99% 50%, 75% 99%, 25% 99%, 1% 50%);
}

.tile-hex-flat.normal {
  background-color: #b0b0b0;
}

.tile-hex-flat.hovered {
  background-color: #c0c0c0;
}

.tile-hex-flat.selected {
  background-color: #b0b000;
}

.tile-hex-flat.selected.hovered {
  background-color: #d0d000;
}
